<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/assets/reset.min.css">
  <link rel="stylesheet" type="text/css" href="../public/assets/style.css">
  <title>Demo</title>
</head>
<body>
  <header>
    <form>
      <input 
      type="text"
      placeholder="Enter an activity"
      name="item"
      id="item">
      <button type="submit" id="add">
        svg
      </button>
    </form>
    <div class="container">
      <!-- 未完成的列表 -->
      <ul class="todo" id="todo">

      </ul>
      <!-- 已完成的列表 -->
      <ul class="todo" id="completed">

      </ul>
    </div>
  </header>
</body>
</html>